MicrosoftAppType=
MicrosoftAppId=
OPENAI_API_KEY=<YOUR API KEY>
OPENAI_API_URL=https://<YOUR RESOURCE NAME>.openai.azure.com/openai/deployments/<YOUR DEPLOYMENT NAME>/chat/completions?api-version=2023-03-15-preview
